<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ornery Stunning Zebra</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./testimonial17.css" rel="stylesheet" />
      <div class="thq-section-padding">
        <div class="testimonial17-max-width thq-section-max-width">
          <div class="testimonial17-container10">
            <h2>
              <fragment class="testimonial17-fragment12">
                <h2 class="testimonial17-text26 thq-heading-2">
                  Testimonios de nuestros usuarios
                </h2>
              </fragment>
            </h2>
            <span>
              <fragment class="testimonial17-fragment18">
                <span class="testimonial17-text32 thq-body-small">
                  ¡La aplicación de programación de citas médicas ha sido una
                  verdadera ayuda para mí! Ahora puedo reservar mis citas con
                  mis doctores favoritos de forma rápida y sencilla.
                </span>
              </fragment>
            </span>
          </div>
          <div class="thq-grid-2">
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card1">
                  <div class="testimonial17-container12">
                    <img
                      alt="Imagen de María López"
                      src="https://images.unsplash.com/photo-1521341957697-b93449760f30?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNDcyMTc2NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image1"
                    />
                    <div class="testimonial17-container13">
                      <strong>
                        <fragment class="testimonial17-fragment23">
                          <strong class="testimonial17-text37 thq-body-large">
                            María López
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="testimonial17-fragment19">
                          <span class="testimonial17-text33 thq-body-small">
                            Profesora
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="testimonial17-fragment17">
                      <span class="testimonial17-text31 thq-body-small">
                        Estoy muy satisfecha con la facilidad de uso y las
                        notificaciones que recibo para recordarme mis citas.
                        ¡Altamente recomendado!
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card2">
                  <div class="testimonial17-container14">
                    <img
                      alt="Imagen de Juan Pérez"
                      src="https://images.unsplash.com/photo-1703925154666-7484e0ffbdc1?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNDcyMTc2Nnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image2"
                    />
                    <div class="testimonial17-container15">
                      <strong>
                        <fragment class="testimonial17-fragment16">
                          <strong class="testimonial17-text30 thq-body-large">
                            Juan Pérez
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="testimonial17-fragment11">
                          <span class="testimonial17-text25 thq-body-small">
                            Ingeniero
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="testimonial17-fragment10">
                      <span class="testimonial17-text24 thq-body-small">
                        Desde que empecé a utilizar esta aplicación, he mejorado
                        mi organización con las citas médicas. ¡Ya no se me
                        olvida ninguna cita gracias a los recordatorios!
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card3">
                  <div class="testimonial17-container16">
                    <img
                      alt="Imagen de Ana García"
                      src="https://images.unsplash.com/photo-1519699047748-de8e457a634e?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNDcyMTc2N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image3"
                    />
                    <div class="testimonial17-container17">
                      <strong>
                        <fragment class="testimonial17-fragment15">
                          <strong class="testimonial17-text29 thq-body-large">
                            Ana García
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="testimonial17-fragment22">
                          <span class="testimonial17-text36 thq-body-small">
                            Estudiante
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="testimonial17-fragment13">
                      <span class="testimonial17-text27 thq-body-small">
                        La aplicación es muy intuitiva y me ha permitido
                        gestionar mis citas médicas de manera eficiente.
                        ¡Excelente herramienta para mantener un control de mi
                        salud!
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="thq-animated-card-bg-2">
              <div class="thq-animated-card-bg-1">
                <div data-animated="true" class="thq-card testimonial17-card4">
                  <div class="testimonial17-container18">
                    <img
                      alt="Imagen de Carlos Martínez"
                      src="https://images.unsplash.com/photo-1464998857633-50e59fbf2fe6?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyNDcyMTc2NXw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                      class="testimonial17-image4"
                    />
                    <div class="testimonial17-container19">
                      <strong>
                        <fragment class="testimonial17-fragment20">
                          <strong class="testimonial17-text34 thq-body-large">
                            Carlos Martínez
                          </strong>
                        </fragment>
                      </strong>
                      <span>
                        <fragment class="testimonial17-fragment14">
                          <span class="testimonial17-text28 thq-body-small">
                            Empresario
                          </span>
                        </fragment>
                      </span>
                    </div>
                  </div>
                  <span>
                    <fragment class="testimonial17-fragment21">
                      <span class="testimonial17-text35 thq-body-small">
                        Como una persona ocupada, esta aplicación ha
                        simplificado la forma en que programo mis citas médicas.
                        ¡Me ha ahorrado mucho tiempo y preocupaciones!
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
